<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Tinkerlust_InternalApi>
			<version>0.1.0</version>
		</Tinkerlust_InternalApi>
	</modules>
	<global>
		<helpers>
			<internalapi>
				<class>Tinkerlust_InternalApi_Helper</class>
			</internalapi>
		</helpers>
		<models>
			<internalapi>
				<class>Tinkerlust_InternalApi_Model</class>
				<resourceModel>internalapi_resource</resourceModel>
			</internalapi>
			<internalapi_resource>
				<class>Tinkerlust_InternalApi_Model_Resource</class>
				<entities>
					<client>
						<table>tinkerlust_oauth2_clients</table>
					</client>
					<token>
						<table>tinkerlust_oauth2_accesstokens</table>
					</token>
					<refresh>
						<table>tinkerlust_oauth2_refreshtokens</table>
					</refresh>
				</entities>
			</internalapi_resource>
		</models>
		<resources>
			<oauth2_setup>
				<setup>
					<module>Tinkerlust_InternalApi</module>
					<class>Tinkerlust_InternalApi_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</oauth2_setup>
			<oauth2_write>
				<connection>
					<use>core_write</use>
				</connection>
			</oauth2_write>
			<oauth2_read>
				<connection>
					<use>core_read</use>
				</connection>
			</oauth2_read>
		</resources>
	</global>
	<frontend>
		<routers>
			<InternalApi>
				<use>standard</use>
				<args>
					<module>Tinkerlust_InternalApi</module>
					<frontName>internalapi</frontName>
				</args>
			</InternalApi>
		</routers>
	</frontend>
</config>